{% extends 'base.html.twig' %}

{% block title %}New Accessoire{% endblock %}

{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="icon_menu"> Nouvel Accessoire</i>
        </div>
        <div class="panel-body">

    {{ include('accessoire/_form.html.twig') }}

    <a href="{{ path('accessoire_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
