{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="icon_menu"> Creer un nouveau Client</i>
        </div>
        <div class="panel-body">

    {{ include('clients/_form.html.twig') }}

    <a href="{{ path('clients_index') }}">Retourner</a>

        </div>
    </div>
</div>
{% endblock %}
